# ignore results dir
results/

# ignore data dir
seg/data/

# ignore defunct
defunct/

# ignore garbage
garbage/

# ignore metadata
metadata.csv
traindata.csv
test_cvc_300.csv
test_cvc_clinic_db.csv
test_cvc_colon_db.csv
test_etis.csv
test_kvasir.csv

# PraNet
seg/model/PraNet/
configs/swin_tiny_patch4_window7_224_lite.yaml

# sddnet stuff 
seg/model/SDDNet/

# segmentation_models
seg/model/segmentation_models_pytorch/
ious_max_EffNetsandUNetComp.csv

# other stuff
dice_max.csv
ious_max.csv
dice_max.csv
ious_max.csv
ious_max.csv
dice_max.csv

# .pyc files
*.pyc